<p id="notice"><%= notice %></p>

<h1>Apiaries</h1>
<div class="row">
	<% @apiaries.each do |apiary| %>
	<div class="row">
		<div class="apiary-header">
			<h2>
				<%= apiary.name %>
			</h2>
			<%= link_to 'Edit', edit_apiary_path(apiary) %>
			<%= link_to 'Destroy', apiary, method: :delete, data: { confirm: 'Are you sure?' } %>
		</div>
		
		<p>Location:</p>
		<p>Longitude: <%= apiary.lon %></p>
		<p>Latitude: <%= apiary.lat %></p>
   		<% if apiary.hives %>
   		<h3>Hives</h3>
		<% apiary.hives.each do |hive| %>
			<div class="hive col-lg-2">
				<h4>Hive number: <%= hive.number %></h4>
				<div class="extensions col-lg-12">
					<% hive.extensions.each do |extension|%>
					<p>Nastavak (PROMENI)</p>
					<% end %>
					<% if hive.extensions.count < 3 %>
						<%= form_tag('/extensions', remote: true, method: 'create') do %>
							<%= hidden_field_tag 'extension[hive_id]', hive.id %>
							<%= link_to "Add extension", '#', class: "add_extension" %>
						<% end %>
					<% end %> 
				</div>
			</div>
		<% end %>
	<% end %>
 </div>
 <% end %>

<br>

<%= link_to 'New Apiary', new_apiary_path %>

<%= link_to 'New Hive', new_hive_path %>