<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @hive.number %>
</p>

<p>
  <strong>Type:</strong>
  <%= @hive.hive_type %>
</p>

<p>
  <strong>Apirary:</strong>
  <%= @hive.apiary_id %>
</p>

<p>
  <strong>Order:</strong>
  <%= @hive.order_id %>
</p>

<%= link_to 'Edit', edit_hive_path(@hive) %> |
<%= link_to 'Back', hives_path %>
